.path {
  fill: white;
  stroke: black;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}
.svg {
  height: 85vh;
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
}

.map_image {
  pointer-events: none;
}

.path:hover {
  stroke: brown;
  stroke-width: 4px;

  transform: translateY(-2px);
}

.terter_path {
  pointer-events: none;
}

.xocali_path {
  pointer-events: none;
}
.xocavend_path {
  pointer-events: none;
}
.fuzuli_path:hover ~ .fuzuli {
  opacity: 1;
}
.agdam_path:hover ~ .agdam {
  opacity: 1;
}
.terter_path:hover ~ .terter {
  opacity: 1;
}
.kelbecer_path:hover ~ .kelbecer {
  opacity: 1;
}
.lacin_path:hover ~ .lacin {
  opacity: 1;
}
.xocali_path:hover ~ .xocali {
  opacity: 1;
}
.xocavend_path:hover ~ .xocavend {
  opacity: 1;
}
.qubadli_path:hover ~ .qubadli {
  opacity: 1;
}
.zengilan_path:hover ~ .zengilan {
  opacity: 1;
}
.cebrayil_path:hover ~ .cebrayil {
  opacity: 1;
}
.susa_path:hover ~ .susa {
  opacity: 1;
}

.text {
  user-select: none;
  font-family: Palatino Linotype;
  opacity: 0;
  pointer-events: none;
}

.image {
  user-select: none;
  pointer-events: none;
}
