.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}
.menu {
  overflow: hidden;
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  cursor: initial;

  background-color: #e19462;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.08) 100%
  );

  overflow-x: hidden;
  transition: 0.5s;
}

.menu_container {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.ul {
  display: unset;
}

/* .menu_container ul div {
  vertical-align: top;
  overflow: hidden;
  margin: 0 6% 0 0;
  display: inline-block;
} */

.menu_container ul a {
  text-decoration: none;
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  color: white;
  cursor: pointer;
  text-align: center;
}
/* 
.menu_container ul p:hover {
  color: aqua;
} */

.menu_container ul h1 {
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7578125vw;
  color: white;
}
.menu_container ul h1:hover {
  color: aqua;
}
/* .menu-container ul p {
  font-family: TT Norms Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.0416666666666667vw;
  color: white;
} */

@media (max-width: 768px) {
  .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  /* .menu_container {
    
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;

  } */
  /* .ul {
    display: unset;
  } */
  /* .menu_container ul div{
    vertical-align: unset;
    overflow: hidden;
    text-align: center;
    margin: unset;
    display: unset;
  } */

  .menu_container ul h1 {
    /* font-size: 1.7578125vw; */
    font-size: 3.580901856763926vh;

    color: white;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  /* .menu-container {
    margin-top: 50%;
  }
  ul div {
    margin: 0 1% 0 0;
  }
  ul div h1 {
    font-size: 2.5vw;
  }
  ul div p {
    font-size: 13px;
  } */
}

@media (min-width: 900px) and (max-width: 1200px) {
  /* .menu-container {
    margin-top: 50%;
  }
  ul div {
    margin: 0 1% 0 0;
  }
  ul div h1 {
    font-size: 2.5vw;
  }
  ul div p {
    font-size: 15px;
  } */
}

@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
  /* ul div h1 {
    font-size: 54px;
  } */
}
