.nested_rayon {
  /* background-image: url("../assets/govher-aga.jpg"); */
  height: 23.872679045092838vh;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  /* background-size: cover; */
  cursor: pointer;
}

/* .nested_rayon:hover {
  box-shadow: -3px 18px 20px 0px rgba(99, 89, 99, 1);
  transition-duration: 0.3s;
} */

.img_holder {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}
.img_holder:hover {
  transform: scale(1.2);
}
.nested_text {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: white;
  /* font-size: 1.171875vw; */
  font-size: 2.387267904509284vh;
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
}
.aioutline {
  position: absolute;
  bottom: 15px;
  right: 20px;
}
