.slogan {
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: bold;
  font-size: 1.171875vw;
  text-transform: uppercase;

  color: #fff;
}
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home_top {
  position: absolute;
  width: 100%;
  height: 15vh;
  z-index: 1;
  cursor: initial;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 3%;
  background-image: linear-gradient(
    180deg,
    #000000 -112.64%,
    rgba(0, 0, 0, 0) 100%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.hamburger_div {
  display: flex;
  /* width: 42px;
  height: 16px; */
  /* padding: 0px 0px; */
}
.hamburger {
  padding-left: 20px;
}
.h_div {
  width: 42px;
  height: 2px;
  background-color: white;
  margin: 6px 0px;
}
.search_div {
  margin: auto;
}
.search_input {
  border-radius: 5px;
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;

  width: 100%;
  /* border: none; */
  /* padding: 10px 5px; */
  box-sizing: border-box;
  outline: none;
}

/* .search_div ul::before {
  content: "";
} */
.search_div ul {
  margin: 0;
  padding: 0;
}
.search_div ul li {
  list-style-type: none;
  text-align: left;
  margin: 1px;
  padding: 2px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;

  /* width: 100%; */
}

.search_div li:hover {
  background-color: orange;
}

.xerite {
  height: 80vh;
  max-width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* //////////////////////////////// */
.slider {
  /* background-color: black; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: translateY(100%); */
}
.previewcontainer {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  /* background: #d4c9ab;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.08) 100%); */
  background-color: #e19462;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.08) 100%
  );
  /* background: black; */
}

.speechcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* align-items: center; */
  text-align: center;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}
.speech {
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 20px;
  /* or 91% */

  animation: showup 7s;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */

  color: #ffffff;
}
.speech1 {
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 20px;
  /* or 91% */
  opacity: 0;
  animation: showup 7s forwards;
  padding: 10px;
  animation-delay: 6s;

  /* display: block;
  margin-left: auto;
  margin-right: auto; */

  color: #ffffff;
}
.speech2 {
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 20px;
  /* or 91% */
  opacity: 0;
  animation: showup 7s forwards;
  animation-delay: 12s;

  /* display: block;
  margin-left: auto;
  margin-right: auto; */

  color: #ffffff;
}

.president {
  position: absolute;

  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  animation: showup 7s forwards;
  animation-delay: 15s;
  opacity: 0;

  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* align-items: center; */
  text-align: center;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;

  letter-spacing: 1px;

  color: #ffffff;
}

.presidentx {
  position: absolute;

  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  animation: showup 7s forwards;
  animation-delay: 15s;
  opacity: 0;

  position: absolute;
  top: 63%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* align-items: center; */
  text-align: center;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;

  letter-spacing: 1px;

  color: #ffffff;
}
.slider {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: translateY(100%); */
}

.intro {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: translateY(100%); */
}

.right_slider {
  position: fixed;
  height: 100vh;
  width: 40vw;
  /* background-color: red; */
  /* right: 0; */
  transition: right 0.5s ease-in;
  right: -40vw;
  border-left: 2px solid #000;
  cursor: initial;
}
.right_slider_active {
  right: 0;
}

.map_minimize {
  left: -15% !important;
  /* height: 82vh !important; */
}
.right_slider_main {
  margin-top: 15%;
  margin-left: 5%;
  display: inline-block;
  text-align: left;
  /* background-color: white; */
}
.right_slider_rayon {
  margin-top: 1.953125vw;

  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5625vw;

  color: #3a3d3f;
}
.right_slider_ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  text-align: left;
  text-decoration: none;
}

.right_slider_button {
  margin: 0 auto;
  display: block;
  /* margin-top: 20px; */
  width: 140px;
  height: 50px;

  background: #3a3d3f;
  cursor: pointer;
}

.right_slider_button_span {
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: bold;

  color: #ffffff;
}

.right_slider_ul li {
  width: 100%;
  /* display: inline-block; */
  /* background-color: gray; */
  margin-bottom: 30px;
  /* vertical-align: middle; */
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.right_slider_ul li a {
  text-decoration: none;
  color: inherit;
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 1.171875vw;
}
.right_slider_ul li img {
  width: 2.6041666666666665vw;
  height: 2.6041666666666665vw;
}
.right_slider_ul li a:hover {
  color: blue;
}
.right_slider_ul li span {
  padding-left: 20px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .search_input {
    display: none;
  }
  .right_slider {
    height: 40vh;
    width: 100vw;
    transition: bottom 0.5s ease-in;
    bottom: -40vh;
    border-left: unset !important;
    overflow: auto;
  }
  .right_slider_active {
    bottom: 0;
  }

  .map_minimize {
    /* left: -25%; */
    /* top: -65%; */
    top: -30% !important;
    height: 100% !important;
    /* width: 250%; */
    /* height: 42vh !important; */
    left: -35% !important;
  }

  .right_slider_main {
    margin-top: 0;
  }
  .right_slider_rayon {
    font-size: 24px;
  }
  .right_slider_ul li a {
    font-size: 18px;
  }
  .right_slider_ul li img {
    width: 40px;
    height: 40px;
  }
  .slogan {
    display: none;
  }
  /* .home_top {
    position: fixed;
    min-width: 100%;
  } */
}
